AIRTABLE_BASE_ID=appQsPzumhfurpdhA
AIRTABLE_TABLE_ID=tblYZeiM5jfOM1Ev7

AIRTABLE_PRODUCTS_BASE_ID=appQsPzumhfurpdhA
AIRTABLE_PRODUCTS_TABLE_ID=tblF7Sdwt6vVVEStL

AIRTABLE_CHAT_BASE_ID=appQsPzumhfurpdhA
AIRTABLE_CHAT_TABLE_ID=tblLZws11czzxjHqJ

AIRTABLE_TOKEN=pat_your_token_here
